<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19E266</string>
	<key>CFBuildDate</key>
	<string>20201117.004842</string>
	<key>CFBuildNumber</key>
	<string>4391</string>
	<key>CFBuildVersion</key>
	<string>0.4</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Crinkles</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PadTrack DB</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>io.huskysoft.padtrack.padb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PadTrack</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>animals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iPhone</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>animals</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iPad</string>
					<string>iPad-pro</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>io.huskysoft.crinkles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>0.4.4391.20201117.004842</string>
	<key>CFBundleName</key>
	<string>PadTrack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.4.4391</string>
	<key>DTAppStoreToolsBuild</key>
	<string>12B45a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>18A390</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>14.0</string>
	<key>DTSDKBuild</key>
	<string>18A390</string>
	<key>DTSDKName</key>
	<string>iphoneos14.0</string>
	<key>DTXcode</key>
	<string>1201</string>
	<key>DTXcodeBuild</key>
	<string>12A7300</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<string>NO</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<string>YES</string>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Crinkles allows you to attach photos from your camera to diapers.</string>
	<key>NSHumanReadableCopyright</key>
	<string>2020 Huskysoft. All rights reserved.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Crinkles allows you to attach photos from your Photos library to diapers.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaSoft-Extrabold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,2</string>
		<string>iPhone10,3</string>
		<string>iPhone10,5</string>
		<string>iPhone10,6</string>
		<string>iPhone11,2</string>
		<string>iPhone11,4</string>
		<string>iPhone11,6</string>
		<string>iPhone12,3</string>
		<string>iPhone12,5</string>
		<string>iPhone13,1</string>
		<string>iPhone13,2</string>
		<string>iPhone13,3</string>
		<string>iPhone13,4</string>
		<string>iPhone9,2</string>
		<string>iPhone9,4</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PadTrack Database</string>
			<key>UTTypeIdentifier</key>
			<string>io.huskysoft.padtrack.padb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>padb</string>
				<key>public.mime-type</key>
				<string>application/padtrackdb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
